<div class="row user-comment" id="default_comment_id" style="display: none;">
    <div class="shadow-lg p-2 mb-5 bg-white rounded post-entity col-md-12 line-boundary" 
                style="border: 1px solid darkgray"ondblclick="addReplyBox(event, this);" 
                    id="comment_content_id"> <!-- Content -->
        <div class="row content-heading">
            <!-- Title and name -->
            <div class="col-md-7">
                <div class="comment_title">
                    <span id="comment_username_id" class="text-break">user & time</span>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <p class="pl-3 text-break" id="comment_id">Default Comment</p>  
        </div>
    </div>
</div>